.popup{
    width: 400px;
    height: 100px;
    background-color: beige;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 20px;
} 
.popup p {
    line-height: 100px;
    font-size: 50px;
    font-weight: 700;
}


.ellipse {
    height :100px;
    width:180px;
   background-color: lime;
   border-radius: 60%;
   margin-top: 40px;
    
}
.circle {
    height :100px;
    width:100px;
   background-color: lime;
   border-radius: 100%;
    
}
.lime {
    height :100px;
    width:100px;
   background-color: lime;
   border-top-right-radius: 20%;
   border-bottom-left-radius: 20%;
    
}